<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">

<html>

    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Bethanys Pie Shop</title>
    </head>

    <body>
        <h1>@ViewBag.CurrentCategory</h1>
    </body>
</html>